.wrap {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 290px;
  background-color: #ffffff;
  padding-top: 15px;
}

.top_box {
  max-width: 1200px;
  margin: 0 auto;
}

.wm_bottom_main {
  padding: 15px;
}

.h380 {
  height: 380px;
}

.h380.lb_wrap {
  height: 185px;
}

.h280 {
  height: 280px;
}

.over-hide {
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mb20 {
  margin-bottom: 20px;
}

.role_box_bg {
  height: 100%;
}

.vm_bottom_address {
  width: 100%;
}

.jiabtn {
  width: 100%;
  height: 100px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
}

.ehot_t {
  float: left;
}

.flex-head {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav_col a {
  margin: 10px;
  font-weight: bold;
  color: #000000;
}

.wm_public_zhuxian_logo_bg.logo-news {
  height: 120px;
}

.flex-box-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 290px;
}

.pagi-item {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

@media (max-width: 425px) {
  .top_nav,
  .wm_public_zhuxian_logo_bg,
  .wm_public_zhuxian_logo_lk {
    display: none;
  }

  .logo-news {
    display: block;
  }

  .top_box {
    padding-bottom: 150px;
  }
}

@media (max-width: 624px) {
  .order-1 {order: 1;} .order-2 {order: 2;} .order-3 {order: 3;} .order-4 {order: 4;} .order-5 {order: 5;} .order-6 {order: 6;} .order-7 {order: 7;} .order-8 {order: 8;} .order-9 {order: 9;} .order-10 {order: 10;} .order-11 {order: 11;} .order-12 {order: 12;}

  .nav-left,
  .nav-right {
    margin-top: 10px;
  }

  .neli_name a {
    width: 67px;
    font-size: 12px;
  }
}

@media (min-width: 625px) {
  .wrap {
    max-width: 595px;
  }

  .w290 {
    width: 290px;
  }

  .w595 {
    width: 595px;
  }

  .h380.lb_wrap {
    height: 380px;
  }

  .vm_bottom_address {
    width: 70%;
  }

  .top_box {
    padding-bottom: 120px;
  }

  .ehot_t {
    padding-left: 10px;
  }

  #shop_btn {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-head { flex-direction: row;}

  .flex-box-news { flex-direction: row; justify-content: space-between; width: 100%;}

  .s-order-1 {order: 1;} .s-order-2 {order: 2;} .s-order-3 {order: 3;} .s-order-4 {order: 4;} .s-order-5 {order: 5;} .s-order-6 {order: 6;} .s-order-7 {order: 7;} .s-order-8 {order: 8;} .s-order-9 {order: 9;} .s-order-10 {order: 10;} .s-order-11 {order: 11;} .s-order-12 {order: 12;}
}

@media (min-width: 925px) {
  .wrap {
    max-width: 895px;
  }

  .top_box {
    padding-bottom: 160px;
  }

  .flex-box-news { flex-direction: column;justify-content: flex-start; width: 290px;}

  .m-order-1 {order: 1;} .m-order-2 {order: 2;} .m-order-3 {order: 3;} .m-order-4 {order: 4;} .m-order-5 {order: 5;} .m-order-6 {order: 6;} .m-order-7 {order: 7;} .m-order-8 {order: 8;} .m-order-9 {order: 9;} .m-order-10 {order: 10;} .m-order-11 {order: 11;} .m-order-12 {order: 12;}
}

@media (min-width: 1225px) {
  body {
    background-size: cover;
  }

  .wrap {
    max-width: 1195px;
  }

  .top_box {
    padding-bottom: 25%;
  }

  .cont_news {
    justify-content: center;
  }

  .l-ml-20 {
    margin-left: 20px;
  }

  .l-order-1 {order: 1;} .l-order-2 {order: 2;} .l-order-3 {order: 3;} .l-order-4 {order: 4;} .l-order-5 {order: 5;} .l-order-6 {order: 6;} .l-order-7 {order: 7;} .l-order-8 {order: 8;} .l-order-9 {order: 9;} .l-order-10 {order: 10;} .l-order-11 {order: 11;} .l-order-12 {order: 12;}
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

.wm_bottom_beian {
  width: 120px;
  height: 35px;
  border: 1px solid #3b3b3b;
  padding-left: 45px;
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
  background: url(../img/bg.gif) no-repeat -78px -211px;
  line-height: 14px;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

