/* ---------author:Zhoulichen------------ */
/* ---------copyright:www.wanmei.com ---- */
/* ---------time:2009.06.02 ------------- */
/* base */
.wm_public_zhuxian_logo_bg { 
position:absolute; 
z-index:99998; 
left:0px; 
top:0px; 
width:170px; 
height:148px; 
background:url('../img/logo.png');_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=''../img/logo.png',sizingMethod='scale');}
.wm_public_zhuxian_logo_lk { position:absolute; z-index:99999; left:0px; top:0px; width:170px; height:148px; }